.single-stack-bar-container {
	display: table;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid #ddd;
	border-top: 0;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.single-stack-bar-container .single-stack-slice {
    display: table-cell;
    line-height: 8px;
    text-indent: -9999px;
}

.single-stack-bar-container .single-stack-slice:first-child {
    border-bottom-left-radius: 2px;
}